@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(247, 215, 220);
}

img{
    height: 500px;
}

.banner{
    position: relative;
}

.Happy-birthday-animation{
    display: block;
}

.banner-heading{
    position: absolute;
    width: 40%;
    margin: 7%;
    font-family: "Delius Swash Caps";
    font-weight: 600;
    font-style: normal;
    color: #A93F55;
    font-size: 14px;
}

.our-photo{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 50px;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}

.us{
    width: 99%;
    border-radius: 50px;
    height: 99%;
}

.eye-qoute{
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    font-family: "Delius Swash Caps";
    font-weight: 600;
    font-style: normal;
    color: #A93F55;
    font-size: 14px;
    text-align: center;
}

.last-qoute{
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #A93F55;
    font-size: 16px;
    text-align: center;
}