@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 215, 220);
  /* overflow: hidden;  */
  /* height: 100vh;
  width: 100vw;
  position: relative; */
}

img {
  height: 500px;
}

.banner {
  position: relative;
}

.Happy-birthday-animation {
  display: block;
}

.banner-heading {
  position: absolute;
  width: 40%;
  margin: 7%;
  font-family: "Delius Swash Caps";
  font-weight: 600;
  font-style: normal;
  color: #a93f55;
  font-size: 14px;
}

.our-photo {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 50px;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.us {
  width: 99%;
  border-radius: 50px;
  height: 99%;
}

.eye-qoute {
  width: 60%;
  margin-top: 2%;
  margin-left: 20%;
  font-family: "Delius Swash Caps";
  font-weight: 600;
  font-style: normal;
  color: #a93f55;
  font-size: 14px;
  text-align: center;
}

.last-qoute {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 50px;
  padding: 5%;
  width: 90%;
  margin-top: 6%;
  margin-left: 5%;
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: #cccaca;
  color: #493315;
  font-size: 16px;
  text-align: center;
}

.two-hearts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 6%;
}

.hearts {
  height: 20%;
  width: 20%;
  animation: beat 1s infinite;
  transform-origin: center;
  animation: beat 1.5s infinite ease-in-out;
}

@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
}

.humour {
  width: 80%;
  margin-left: 10%;
  margin-top: 6%;
}


