@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body{
    background-color: rgb(249, 203, 211);
}

img{
    height: 500px;
}

.banner{
    position: relative;
}

.Happy-birthday-animation{
    display: block;
}

.banner-heading{
    position: absolute;
    width: 40%;
    margin: 7%;
    font-family: "Delius Swash Caps";
    font-weight: 600;
    font-style: normal;
    color: #A93F55;
    font-size: 14px;
}