@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Parisienne&display=swap");

.navbar{
    height: 75px;
}

.nav-container{
    height: 100%;
    width: 100%;
    background-color:#A93F55 ;
    justify-content: left;
    align-items: center;
    display: flex;
    gap: 3%;
}


.logo{
    height: 70%;
}

.logo-heading{
  font-family: "Parisienne", cursive;
  font-weight: 200;
  font-style: normal;
  font-size: 28px;
  color: rgb(249, 203, 211);
}

