.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 15%; */
}

.welcome-img {
  height: 15rem;
  z-index: 1;
}

.code-input {
  border-radius: 50px;
  height: 35px;
  width: 100%;
  background-color: blanchedalmond;
  border-color: rgb(43, 226, 162);
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.6);
  outline: none;
  font-family: cursive;

}

.code-input:focus {
  border-color: #4a90e2;
  background-color: #f0f8ff;
  color: #333;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.6);
}

.login-button {
  border-radius: 20px;
  width: 35%;
  height: 30px;
  margin-top: 3%;
  background-color: rgb(247, 89, 26);
  border-color: rgb(251, 251, 3);
  font-family: Chiller;
  font-size: 20px;
  color: wheat;
}
